* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #1e2f23;
  color: #fefefe;
}

.container {
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  text-align: center;
  padding: 10px 0;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.palindrome-div {
  width: min(94vw, 450px);
  min-height: 100px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  margin: 10px 0;
  background-color: #fefae0;
  box-shadow: 0 6px 6px #606c38;
}

label {
  color: #283618;
  margin-bottom: 20px;
}

.palindrome-btn {
  width: 90px;
  border: none;
  padding: 10px;
  border-radius: 15px;
  background-color: #bc6c25;
  color: #fff;
  cursor: pointer;
}

.palindrome-btn:hover {
  transform: scale(0.95);
  background-color: #a25205;
}

.palindrome-btn:focus {
  outline: none;
}

.palindrome-input {
  height: 30px;
  width: 250px;
  text-align: center;
  font-size: 1.2rem;
  margin: 10px;
  border: none;
  background-color: #fff8dc;
  border-bottom: 2px solid #a25205;
  color: #333;
}

.palindrome-input:focus {
  outline: none;
  border-bottom: 3px solid #bc6c25;
}

.palindrome-input::placeholder {
  text-align: center;
}

.user-input {
  font-size: 1.4rem;
  margin-top: 10px;
  text-align: center;
}

.results-div {
  overflow-y: auto;
  word-wrap: break-word;
  min-height: 50px;
  color: #bc6c25;
  font-size: 25px;
}

.hidden {
  display: none;
}

.palindrome-definition-div {
  width: min(94vw, 450px);
  font-size: 1.3rem;
  min-height: 140px;
  background-color: #bc6c25;
  color: #fefae0;
  margin-top: 20px;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.palindrome-definition {
  vertical-align: middle;
  text-align: center;
}
